<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allrun.jdtecmanagesystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	    
    <application
        android:allowBackup="true"
        android:name="App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".ui.ModifyPassword"
            android:screenOrientation="nosensor">
            
        </activity>
        <activity 
            android:name=".ui.MissionList"
            android:screenOrientation="nosensor">
            
        </activity>
        <activity 
            android:name=".ui.MissionDetail"
            android:screenOrientation="nosensor">
            
        </activity>
        <activity 
            android:name=".ui.MissionCharge"
            android:screenOrientation="nosensor">
            
        </activity>
        <activity 
            android:name=".ui.MissionFixing"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="nosensor">
            
        </activity>
        <activity 
            android:name=".ui.MissionMantenance"
            android:screenOrientation="nosensor">
            
        </activity>
        <activity 
            android:name=".ui.ServerList"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="nosensor">
            
        </activity>
    </application>

</manifest>